html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}



circle {
    pointer-events: auto;
    fill: var(--color);
}

#map circle,
.legend > div {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
}

.legend {
    display: flex;
    gap: 1em;
    margin-block: 1em;
    align-items: center;
}

.legend > span {
    font-weight: bold;
    font-size: 0.9em;
}

.legend > div {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.legend > div::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: var(--color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}